* {padding: 0;margin: 0;}
@font-face{font-family: prox ;src: url(font/OpenSans-Semibold.ttf);}
@font-face{font-family: italic;src: url(font/OpenSans-SemiboldItalic.ttf)}
@font-face{font-family: log ;src: url(font/Pacifico-Regular.ttf);}
header{ width: 100%; height: 100vh; position: relative; }
/*img{ display: block; }*/
header img#background-header { width: inherit; height: inherit; object-fit: cover; object-position: center; display: block; }
#footer {background-color:#191c1f;overflow: hidden;}
.registry {font-family: prox; text-align: center;color: #40515f;font-size: 11px;padding-bottom: 20px;}
.wrapper { width: 85%; margin: 0 auto; position: relative; }
.clear {clear:both;}
h1 {font-family: prox;}
.overlay { position: relative; }
.overlay:after { content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(255,255,255,.7); transition: all ease .3s; }

/*

.menu ul {list-style: none; 
			margin: 0
			padding:0;
			text-align: center;}
.menu ul li {float: right;
			margin-left: 45px;
			background: transparent;}
.menu ul li a {padding: 15px 10px; 
				display: block; 
				text-decoration: none; 
				color:white;
				background: transparent;
				font-family: prox;
				font-size: 19px;}
.menu ul li a:hover {background: transparent;
					 color:#4aa9af;
					 transition: 0.3s all ease;}
*/

/* START: Responsive Navbar*/
#menu {width: 100%; position: absolute; top: 20px;}
#menu div.wrapper { display: flex; align-items: center; justify-content: space-between; }
#menu .menu { list-style: none; display: block; visibility: visible; opacity: 1; transition: all ease .6s; }
#menu .menu li { display: inline-block; font-family: prox ;}
#menu .menu li a { text-decoration: none; color: #3A4750; padding: 20px 20px; display: inline-block; }
#menu .menu li a:hover {color: #4aa9af; transition: 0.3s all ease;}
.icon { display: none; font-size: 20px; }
/* END */

.logo {display: inline-block;}
.logo h3 {font-family: log;
		color: #595959;
		font-size: 30px;}
/*.motto h1{font-family: log;
			color:white;
			padding-top:550px;
			padding-left: 340px;
			font-size: 90px;
			visibility: hidden;}*/


.welcome-container { margin-top: 30px; }
.welcomeimg img {float: left; display: inline-block !important; padding-bottom: 100px;}
.welcome {max-width: 350px;display: inline-block;float: left;margin-left: 320px; padding-bottom: 100px;}
.welcome p {font-family: italic;font-size: 12px;color: #878787}
.welcome h1 {font-family: log;text-align: center;padding-bottom: 40px;}
.welcome h2 {font-family: prox;color: #878787;font-size: 12px; padding-top: 15px;float: right;padding-right: 20px;}
.welcome h3 {font-family: log; float: left;padding-left: 265px; font-size: 13px; color: black; padding-top: 15px;display: inline-block;}

.image { margin: 0px 1%; display: inline-block; float: left; width: 30%; position: relative; }
.image .overlay:after { background-color: rgba(255,255,255,0); }
.image:hover > .overlay:after { background-color: rgba(255,255,255,.5); }
.image:hover > .container-image { opacity: 1; }
.image img {width: 100%; height: 250px;}
.container-image { z-index: 1; position: absolute; top: 50%; left: 50%; opacity: 0; box-sizing: border-box; padding: 2% 5%; transform: translate(-50%, -50%); background-color: rgba(255,255,255,.7); transition: all ease .3s; }
.container-image h1 {font-family: log; color: #824174;text-align: center;font-size: 22px;}
.container-image p {font-family: prox; text-align: center;}

.services {font-family: prox;text-align: center;font-size: 25px;padding-bottom: 40px; margin-top: 40px;}
.main {font-family: log;text-align: center;display: inline-block;color: #595959;font-size: 25px;}

section#feature div.wrapper {  margin-bottom: 80px; }
.kotak {width: 25%; float: left; text-align: center; margin-bottom: 40px;}
.kotak img {width: 50%; display: inline-block;}
.kotak p {font-family: prox; text-align: center;font-size: 12px;}
.kotak h1 {font-family: prox; font-size: 16px; padding-bottom: 15px;text-align: center;color:#824174;padding-top: 10px;}

.reserv {    position: relative;width: 100%;;padding-bottom: 100px;}
.imagee {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.reserv:hover .imagee {
  opacity: 0.5;
}

.reserv:hover .middle {
  opacity: 1;
}
.textt {
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 32px 64px;
  font-family: prox;
}
.tactive {font-family: log;text-align: center;color: #824174;font-size: 33px;}


.menuimg { position: relative;width: 100%;;padding-bottom: 100px;}
.imagemenu {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.midddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.menuimg:hover .imagemenu {
  opacity: 0.5;
}

.menuimg:hover .midddle {
  opacity: 1;
}
.texttt {
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 32px 60px;
  font-family: prox;
  opacity: 0.9;
}
.tactive1 {font-family: log;text-align: center;color: #824174;font-size: 33px;}



.menuimg{width: 50%;float: left; padding-bottom: 100px;}
.menuimg img {width: 100%;}
.menucontent {width: 50% ; float: left;padding-bottom: 100px;}
.menucontent h1 {font-family: prox;text-align: center;margin-left: 20px;}
.pmenu {font-family: prox; font-size: 14px; text-align: center ; max-width: 550px;display: inline-block;}
.pmenu p {text-align: center;margin-left: 55px;}
.mactive {font-family: log; color: #595959;text-align: center;display: inline-block;padding-bottom: 50px;}

.button  ul li {text-align: center;
				padding-top: 85px;
				padding-bottom: 33px;
				margin-left: 50px;
				text-decoration: none;
				list-style: none;}
.button  ul li a {font-family:prox;
				font-size:15px;
				display: inline-block;
				text-decoration: none; 
				list-style: none;
				background: transparent;
				padding: 10px 30px; 
				border-radius: 4%;
				border: 1px solid black;
				color: #273952}
.button ul li a:hover {background: #282828; 
						color:white ;
						transition: 0.3s all ease;}

.wrapmap {margin: 0; padding: 0;}

.footerl h1 {font-family: log;color: white;font-size: 35px;}
.footerl {;width: 25%;float: left;padding-top: 150px;padding-left: 50px;}
.footernav {font-family: prox;
		width: 15%;
		padding-top: 55px;
		padding-bottom: 70px;
		float: left;
		}
.footernav ul {text-decoration: none;
			list-style: none;}
.footernav ul li {list-style: none;padding-top: 15px;}
.footernav ul li p {color: white}
.footernav ul li a {list-style: none;text-decoration: none; color:#40515f;}
.footernav ul li a:hover{color: #fafafa ; transition: 0.3s all ease;}

.footersocial {width: 15%;float: left;padding-top: 70px;}
.footersocial p {font-family: prox;color: white;font-size:16px;}
.footersocial ul {text-decoration: none;;list-style: none;float: left;}
.footersocial ul li {float: left; text-decoration: none;list-style: none;display: inline-block;padding-top: 10px;}
.footersocial ul li a {float: left;text-decoration: none;list-style: none;padding: 10px;}
.footersocial ul li a img {width: 20%;float: left;display: inline-block;}
.footersocial ul li a p {font-size: 12px;display: inline-block;margin-left: 15px;margin-top: 10px;}

.newsletterf {width: 35%;float: left;padding-top: 70px;}
.newsletterf p {font-family: prox;font-size: 16px;color: white}
.input {width: 50%;
		float:left;
		padding-top: 50px;}
.input1 {width: 160px;
    height: 38px;
    padding-left: 25px;
    padding-right: 10px;
    font-size: 13px;
    color: #ffffff;
    background:#1d2123;
    border: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 15px;}
.submit {color: #ffffff;
    font-size: 15px;
    font-family: prox;
    height: 38px;
    background:#3C9099;
    border: none;
    width: 60px;
    cursor: pointer;
    position: absolute;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;}
.submit:hover{color:black ;
				background: white;
				transition: 0.3s all ease;}


.verticalLine {    height: 250px;
   				 width: 2px;
   				 background:#40515f;
    			float: left;
    			margin: 0 30px;
    			margin-top: 70px;}


#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99;
    border: none;
    outline: none; 
    background-color:rgba(40, 46, 53, 0.8);
    color: white;
    cursor: pointer;
    padding: 12px 18px 12px 18px;
}

#myBtn:hover {
    background-color: #4aa9af;transition: 0.3s all ease;
}


@media screen and (min-width: 360px) and (max-width: 768px) {
	#menu .menu { display: none; visibility: hidden; opacity: 0; list-style: none; background-color: rgba(0,0,0,0.5); width: 100%; position: absolute; top: 130%; }
	#menu .menu li { text-align: center; display: block; border-bottom: 1px solid black;font-family: prox; }
	#menu .menu li:hover { background-color: rgba(20, 20, 20, 0.5); }
	#menu .menu li:last-child { border-bottom: none; }
	#menu .menu li a { text-decoration: none; color: #fff; width: 100%; padding: 20px 0px !important; }
	.icon { display: block; background: transparent; padding: 10px 0; text-decoration: none; color: #595959; cursor: pointer; }
	.motto {visibility: hidden;width: 50%;display: inline-block;}

	.welcome {width: 50%;padding: 0;margin:0;float:left;}
	.welcomeimg {width: 50%;padding: 0;margin:0;float: left;}
	.welcome h3 {padding-left: 85px;}

  .image {width: 100%; float: none;}
	.image img{width: 100%;}


  .kotak { float: none; width: 100%; margin-bottom: 45px; }
	.kotak:last-of-type {margin-bottom: 0;}

  .reserv {width: 100%;padding: 0;margin: 0; padding-top: 20px;}

  .menuimg {width: 100%;float:left;padding: 0;margin: 0; padding-top: 20px;}
  .menucontent {width: 100%;float:left;padding: 0;margin: 0;padding-top: 20px;}
  .menucontent h1 {font-size: 25px;padding: 0;margin: 0;}
  .pmenu {width: 95%;padding:0;margin: 0;}
  .pmenu p {text-align: left;font-size: 12px;}

  .wrapmap img{width: 100%;padding: 0;margin: 0;}

  .footer1 {width: 98%;padding: 0;margin: 0;}
  .verticalLine {visibility: hidden;}
  .footernav {width: 100%;padding: 0;margin:0;padding-top: 20px;}
  .footersocial {width: 100%;padding: 0;margin: 0;padding-top: 20px;}
  .footersocial ul li a img{width: 10%;}
  .newsletterf {width: 100%;padding: 0;margin: 0;padding-top: 20px;}

  .input1 {width: 120px;}
  .registry {padding-top: 30px;}

}


